// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import '../../styles/include-settings-styles';

// # ------------ LAYER COMPONENTS ------------ # //
@layer components-shared {
	.input-file {
		display: flex;
		align-items: center;

		min-width: 120px;
		padding: 4px;

		cursor: pointer;

		border: 4px solid var(--medium-persian-blue);
		border-radius: var(--br8);
		column-gap: 8px;

		&__field {
			display: none;
		}

		&__fake-button {
			padding: 8px;

			border-radius: var(--br4);
			background-color: var(--medium-persian-blue);
		}
	}
}
